<div class='nav'>
  <%=link_to 'Qianyao HAO', root_path, class:'logo' %>
  <ul>
    <li><%=link_to 'HOME', root_path %></li>
    <li><%=link_to 'ABOUT', about_path %></li>
    <li><%=link_to 'RESUME', cv_path %></li>
    <li><%=link_to 'PORTFOLIO', portfolio_path %></li>
  </ul>
</div>
