<%=render 'header' %>
<div class='about'>
  <h2>Hi, I'm Yao </h2>
  <p class='paragraph'> I moved to France from China about 5 years ago to pursue
      my Master's degree in Finance. Upon graduation, I worked for 2 years as a financial
      controller, first at French multinational Schneider Electric, then at American e-commerce giant Amazon.
      Both experiences were precious but I gradually discovered that Finance is not really
      my passion, and my work became just a way of earning money.</p>

  <p class='paragraph'> I first discovered programming at Amazon and really enjoyed it.
      With the encouragement of my husband, I started to do some simple courses
      on CodeAcademy. Time always passed more quickly when I was programming and I wanted
      to be able to do more and more. But with the workload at Amazon, it soon became
      complicated. So I addressed my intention to change my career to my boss and at the
      beginning of 2017, I left my job to start a new adventure.</p>

  <p class='paragraph'> I started teaching myself Rails full time with all the
      great resources on the Internet. After a month of learning and building a
      small CMS system, I started on BATMAP, an idea I had while finding public
      ping-pong tables to play on around our home.</p>

  <p class='paragraph'> Now I'm hoping to use the knowledge I've taught myself to
      start a new chapter of my career. </p>
</div>
