<div class='home'>
  <div class='title'>
    <h1>RUBY ON RAILS DEVELOPER</h1>
    <ul>
      <li><%=link_to 'HOME', root_path %></li>
      <li><%=link_to 'ABOUT', about_path %></li>
      <li><%=link_to 'RESUME', cv_path %></li>
      <li><%=link_to 'PORTFOLIO', portfolio_path %></li>
    </ul>
  </div>
</div>
