<%=render 'header' %>
<div class='portfolio'>
  <div class='project'>
    <div class='project_picture'>
      <%=link_to 'https://batmap.herokuapp.com/', class:'picture_link' do %>
        <%=image_tag('Batmap', width: 600, class:'picture')%>
        <%=image_tag('Batmap2', width: 600, class:'picture')%>
      <% end %>
    </div>
    <div class='project_description'>
      <h1><%=link_to 'Batmap','https://batmap.herokuapp.com/'%> </h1>
      <p>An app that I built after 1 month learning of rails. This app finds nearby public pingpong tables. User can also rate/like a table and arrange match on it</p>
      <h3>Features</h3>
      <ul>
        <li><strong>User Authentication:</strong> authentication system from scratch, with account activation, password reset etc </li>
        <li><strong>Google maps API:</strong> user geolocation, location search auto complete, search by bound change(zoom, drag), responsive marker/info window</li>
        <li><strong>Action Cable and Websocket: </strong>instant messaging, mailbox unread auto update and notifications with Action Cable </li>
        <li><strong>Full calendar:</strong> JS full calendar library for match arranging, event data handling using jbuilder</li>
        <li><strong>ActiveJob:</strong> use ActiveJob to handle background jobs like creating notifications and broadcast through websocket channels</li>
        <li><strong>Photo upload:</strong> use Carrierwave and jQuery-File-Upload gem for multiple photo uploads. Fog and Amazon S3 for production </li>
        <li><strong>Comments:</strong> use nested form and self-join form for implementation of forum like comments/replies</li>
        <li><strong>Testing: </strong> model and integration test with Rspec, Capybara, Selenium, FactoryGirl (added testing after project as when I was building the project, I hadn't learnt Rspec)</li>
        <li><strong>View cleaning: </strong> a taste of 'presenter' for 'conversation' index view </li>
      </ul>
    </div>
  </div>
  <div class='project'>
    <div class='project_picture'>
      <%=link_to 'https://yaofund.herokuapp.com/', class:'picture_link' do %>
        <%=image_tag('fund', width: 600, class:'picture')%>
      <% end %>
    </div>
    <div class='project_description'>
      <h1><%=link_to 'Yaofund','https://yaofund.herokuapp.com/'%> </h1>
      <p>A fundraising site for mental illness</p>
      <h3>Features</h3>
      <ul>
        <li><strong>User Authentication:</strong> use Devise for authentication system and Omniauth for social network login</li>
        <li><strong>Bootstrap:</strong> use Bootstrap for whole site styling</li>
        <li><strong>Background Jobs: </strong> use Sidekiq for alert emails</li>
        <li><strong>Fulltext search: </strong> use PostgreSQL full text search with pg_search</li>
      </ul>
    </div>
  </div>
</div>
