<%=render 'header' %>
<div class='cv'>
  <header>
    <h1 class="name">Qianyao HAO</h1>Back-end developer
    <div class="intro">Self-taught Ruby on Rails developer from a finance background, looking for a chance to gain work experience with Ruby on Rails. Willing to work hard and excited to continue learning new skills</div>
  </header>
  <section class="mainSection skills">
    <h2>Key skills<i class="fa fa-wrench fa-rotate-270"></i></h2>
    <ul class="skills_list">
      <li class="skill">
        <h3 class="skill_title">Languages</h3>
        <ul class="skill_details">
          <li class="skill_detail">Ruby</li>
          <li class="skill_detail">SQL</li>
          <li class="skill_detail">Coffeescript</li>
          <li class="skill_detail">Javascript (Jquery, Ajax)</li>
          <li class="skill_detail">HTML5</li>
          <li class="skill_detail">CSS3 (Sass, Bootstrap)</li>
          <li class="skill_detail">VBA</li>
        </ul>
      </li>
      <li class="skill">
        <h3 class="skill_title">Database</h3>
        <ul class="skill_details">
          <li class="skill_detail">PostgreSQL</li>
          <li class="skill_detail">MySQL</li>
          <li class="skill_detail">SQLite</li>
          <li class="skill_detail">Oracle</li>
        </ul>
      </li>
      <li class="skill">
        <h3 class="skill_title">Deployment Tools</h3>
        <ul class="skill_details">
          <li class="skill_detail">Heroku</li>
          <li class="skill_detail">Git</li>
          <li class="skill_detail">Amazon S3</li>
        </ul>
      </li>
      <li class="skill">
        <h3 class="skill_title">Testing Tools</h3>
        <ul class="skill_details">
          <li class="skill_detail">Rspec</li>
          <li class="skill_detail">FactoryGirl</li>
          <li class="skill_detail">Capybara</li>
          <li class="skill_detail">Selenium</li>
        </ul>
      </li>
      <li class="skill">
        <h3 class="skill_title">Strong knowledge in MVC framework architecture, CRUD operations and REST architecture</h3>
      </li>
      <li class="skill">
        <h3 class="skill_title">Experience in database modeling and design</h3>
      </li>
      <li class="skill">
        <h3 class="skill_title">Good understanding of Action Cable and WebSocket</h3>
      </li>
      <li class="skill">
        <h3 class="skill_title">Good understanding of background jobs using ActiveJob and Sidekiq</h3>
      </li>
      <li class="skill">
        <h3 class="skill_title">Good understanding of OOP Concepts</h3>
      </li>

    </ul>
  </section>
  <section class="mainSection">
    <h2>Experience<i class="fa fa-briefcase" aria-hidden="true"></i></h2>
    <ul>
      <li class="experienceEntry">
        <h3> <span class="experienceEntry_dates">June 2016 - December 2016</span><span class="experienceEntry_title">Business Analyst</span><span class="experienceEntry_company">Amazon Logistics</span><span class="experienceEntry_where">Sevrey, France</span></h3>
        <ul class="experienceEntry_list">
          <li>Daily productivity and performance analysis</li>
          <ul class="experienceEntry_sublist">
            <li>Using SQL and VBA to consolidate and analyse huge sets of data on warehouse's everyday productivity</li>
            <li>Monitor and publish daily/weekly/monthly performance indicators</li>
            <li>Explain the data-based analysis to operations and suggest improvement plans</li>
          </ul>
          <li>Involved in implementation of new coaching project by providing huge data analysis using complex SQL queries</li>
          <li>Implemented new budget controlling tool using VBA and SQL </li>
        </ul>
      </li>
    </ul>
    <ul>
      <li class="experienceEntry">
        <h3> <span class="experienceEntry_dates">June 2014 - June 2016</span><span class="experienceEntry_title">Financial Controller</span><span class="experienceEntry_company">Schneider Electric</span><span class="experienceEntry_where">Rueil-Malmaison, France</span></h3>
        <ul class="experienceEntry_list">
          <li>Leader on Prior project, Partner Business Unit's only point of contact with all countries and Corporate to ensure an accurate financial baseline</li>
          <li>Led the transition of Partner Business Unit (€12bn turnover) and put in place the whole financial reporting process</li>
        </ul>
      </li>
    </ul>
  </section>
  <section class="mainSection">
    <h2>Education<i class="fa fa-mortar-board"></i></h2>
    <ul>
      <li class="experienceEntry">
        <h3><span class="experienceEntry_dates">January 2017 - Present</span><span class="experienceEntry_title">Self-teaching Programming</span><span class="experienceEntry_home">Code Academy, Lynda, Rails documentation, Railscast, Rails Tutorial ... </span></h3>
      </li>
      <li class="experienceEntry">
        <h3><span class="experienceEntry_dates">September 2012 - June 2014</span><span class="experienceEntry_title">Corporate and market finance (Master 2)</span><span class="experienceEntry_company">IAE Grenoble</span><span class="experienceEntry_where">Grenoble, France</span></h3>
      </li>
      <li class="experienceEntry">
        <h3><span class="experienceEntry_dates">September 2009 - July 2013</span><span class="experienceEntry_title">French language and literature (BA)</span><span class="experienceEntry_company">Shanghai International Studies University</span><span class="experienceEntry_where">Shanghai, China</span></h3>
      </li>
    </ul>
  </section>
  <section class="mainSection">
    <h2>Other<i class="fa fa-coffee" aria-hidden="true"></i></h2>
    <ul class="skills_list">
      <li class="skill">
        <h3 class='skill_title'>Languages</h3>
        <ul class="skill_details">
          <li class="skill_detail">Chinese: native</li>
          <li class="skill_detail">English: bilingual</li>
          <li class="skill_detail">French: fluent</li>
        </ul>
      </li>
      <li class="skill">
        <h3 class='skill_title'>Interests</h3>
        <ul class="skill_details">
          <li class="skill_detail">Travel</li>
          <li class="skill_detail">Piano</li>
          <li class="skill_detail">Film</li>
          <li class="skill_detail">Psychology</li>
        </ul>
      </li>
    </ul>
  </section>
  <section class="contact" id="contact">
    <div><a class="contact_link" href="mailto:Qianyaohao91@gmail.com"><i class="fa fa-envelope contact_icon"></i><span class="contact_link_content">Qianyaohao91@gmail.com</span></a></div>
    <div><a class="contact_link" href="tel:+33622744105"><i class="fa fa-phone contact_icon"></i><span class="contact_link_content">+33 (0) 6 22 74 41 05 </span></a></div>
    <div><a class='contact_link' href="https://bitbucket.org/Rosalie123/"><i class="fa fa-bitbucket contact_icon" aria-hidden="true"></i><span class="contact_link_content">bitbucket.org/Rosalie123</span></a></div>
    <div class="contact_address"> <i class="fa fa-home contact_icon contact_address_icon"></i><span>11 rue Victor Lacaille d'Esse,<br/>
        71100 Chalon-sur-Saône, France</span></div>
  </section>
</div>
