// Place all the styles related to the cv_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$color: #262a73;

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

body {
  font-size: 15px;
  min-width: 240px;
  font-family: 'Raleway', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

/* header */

.nav {
  height: 3em;
  background-color: #222;
  position: relative;
  color: #eee;
  .logo {
    display: inline;
    font-size: 1.5em;
    margin-left: 1em;
    position: absolute;
    top: 0.35em;

  }
  ul {
    position: absolute;
    right: 2em;
    top: 1em;
  }
  li {
    display: inline;
    margin-left: 2em;
    font-size: .8em;
    padding: .5em;
  }
}

/* home page */

@keyframes appear {
    from {opacity: 0;}
    5% { opacity: 0;}
    to {opacity: 1;}
}

.home {
  background-color: #222;
  ul {
    margin-top: 1em;
  }
  li {
    display: inline;
    margin: 1em;
    animation-name: appear;
    animation-duration: 2s;
  }
}

.title {
  height: 100vh;
  h1 {
    font-size: 3em;
  }
  color: #eee;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2em 0 2em;
}

/* portfolio */

.portfolio {
  margin: 3em;
}


.picture {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.project {
  color: #515457;
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
  border-bottom: 1px solid lightgray;
  padding-bottom: 2em;
  @media (max-width: 600px){
    flex-wrap: wrap;
  }
}

@media (min-width: 601px) {
  .project_picture, .project_description {
    width: calc(50% - 2.5em);
    flex-shrink: 0;
  }
  .project:nth-child(even) > .project_picture {
    order: 1;
  }
}

.project_description {
  margin-left: 2em;
  @media (max-width: 600px){
    margin: 2em 0 0 0;
  }
  h1 {
    margin-bottom: .5em;
  }
  h3 {
    margin-bottom: 1em;
    margin-top: 1em;
  }
  li {
    margin-bottom: 1em;
  }
}

/* about */
.about {
  width: 60%;
  margin: 2em auto 0 4em;
}

.paragraph {
  margin: 1.5em 0 1.5em 0;
}

/* cv */

.cv {
  width: 80%;
  position: relative;
  margin: auto;

  .fa {
    float: right;
  }

  ul {
    list-style-type: none;
  }

  h1 {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: -.15em;
    color: $color;
  }

  h2 {
    color: $color;
  }

  h3 {
    font-size: 1em;
  }

  header {
    color: $color;
    font-size: 25px;
    padding: .5em;
  }

  .intro {
    font-size: 1rem;
  }

  .mainSection {
    border-bottom: 1px solid $color;
    padding: .5em;
  }

  .skills_summary {
    font-size: .9em;
  }

  .name {
    margin-bottom: 10px;
  }

  .skills {
    border-color: $color;
    border-style: double none;
    border-width: 5px;
    padding-bottom: 1em;
  }

  .interests {
    border-bottom: 5px double $color;
  }

  .skills_list {
    margin-top: 10px;
    list-style-type: disc;
    padding-left: 2em;
  }

  .skill_title,
  .skill_details,
  .skill_detail {
    display: inline;
  }

  .skill_details:before {
    content: ':';
    font-weight: bold;
    margin-left: -.5ex;
  }

  .skill_detail:not(:last-child):after {
    content: ',';
  }

  .experienceEntry {
    position: relative;
  }

  .experienceEntry_title {
    margin-top: 10px;
    display: block;
    width: 60%;
  }

  .experienceEntry_grade {
    font-weight: normal;
    &:before {
      content: ' – ';
    }
  }

  .experienceEntry_dates {
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    width: 38%;
  }

  .experienceEntry_company,
  .experienceEntry_where,
  .experienceEntry_home {
    font-style: italic;
    font-weight: normal;
  }

  .experienceEntry_company:after {
    content: ' – ';
  }

  .experienceEntry_list {
    list-style-type: disc;
    padding-left: 2em;
  }

  .experienceEntry_sublist {
    font-size: .9em;
    list-style-type: circle;
    padding-left: 2em;
  }

  .interests_explanation {
    font-size: .9em;
  }

  .contact {
    color: $color;
    font-size: .9em;
    padding: .5em;
    text-align: center;
  }

  .contact_link {
    line-height: 1.5;
    text-decoration: none;
  }

  .contact_link_content {
    text-decoration: underline;
  }

  .fa.contact_icon {
    float: none;
    display: block;
    text-decoration: none;
  }

  @media print, (min-width: 674px) {
    header {
      padding-right: 40%;
    }
    .experienceEntry_title {
      width: 100%;
    }
    .contact {
      min-width: 18em;
      max-width: 250px;
      position: absolute;
      right: .5em;
      text-align: right;
      top: 0.5em;
      width: 40%;
    }
    .fa.contact_icon {
      float: right;
      line-height: 1.5;
      margin-left: .5em;
    }
    .fa.contact_address_icon {
      line-height: 2.5;
    }
  }
}

@media print {
  .nav {
    display: none;
  }
  .cv {
    width: 100%;
  }
}
