<!DOCTYPE html>
<html>
  <head>
    <title>Cv</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600" rel="stylesheet">
    <script src="https://use.fontawesome.com/19b9ba9e08.js"></script>
    <meta name="robots" content="noindex, nofollow" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
